@model CategoryViewModel

@{
    ViewData["Title"] = "Edit Category";
}
<link href="~/css/edit-game.css" rel="stylesheet" type="text/css" />

<h1 class="page-title">Edit Category</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data" class="edit-form">
    <input type="hidden" asp-for="Id" /> <!-- ID caché pour l'édition -->

    <div class="form-group">
        <label asp-for="Name">Game Name</label>
        <input asp-for="Name" class="form-control" required />
    </div>

    <div class="button-group">
        <button type="submit" class="btn btn-success">
            <i class="fas fa-save"></i> Save
        </button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>
</form>
