@model CategoryViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "ListCategory";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/css/new-category.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<h1>Listes des Catégories</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <!-- Boutons d'édition et de suppression -->
                    <a asp-controller="Category" asp-action="EditCategory" asp-route-id="@category.Id" class="btn btn-primary style-button">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger style-button">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>