.page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.category-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-weight: bold;
    }

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-control-file {
    margin-top: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

    .button-group .btn {
        display: flex;
        align-items: center;
        gap: 5px;
    }

td{
    align-content: center;
}

.style-button {
    font-weight: bold;
    margin: 5px 10px;
    padding: 7px 25px;
    border: none;
}
.btn-primary {
    background-color: #137EAF;
}

.style-button:hover {
    transform: scale(1.05);
    background-color: #137EAF;
}